:root {
  --shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.2);
  --ease-default-linear: linear(
    0,
    0.255,
    0.4449,
    0.6018,
    0.7355,
    0.8513,
    0.9525,
    1.0413,
    1.1195,
    1.1881,
    1.2484,
    1.3011,
    1.3468,
    1.3862,
    1.4198,
    1.4479,
    1.4709,
    1.4892,
    1.503,
    1.5126,
    1.5182,
    1.52,
    1.5189,
    1.5156,
    1.5101,
    1.5025,
    1.4929,
    1.4817,
    1.469,
    1.4552,
    1.4406,
    1.4254,
    1.4099,
    1.3943,
    1.3787,
    1.3633,
    1.3481,
    1.3333,
    1.3188,
    1.3048,
    1.2912,
    1.278,
    1.2653,
    1.253,
    1.2412,
    1.2298,
    1.2188,
    1.2083,
    1.1981,
    1.1883,
    1.1789,
    1.1698,
    1.1611,
    1.1528,
    1.1447,
    1.137,
    1.1296,
    1.1225,
    1.1156,
    1.1091,
    1.1028,
    1.0967,
    1.0909,
    1.0854,
    1.0801,
    1.075,
    1.0701,
    1.0654,
    1.061,
    1.0567,
    1.0526,
    1.0488,
    1.0451,
    1.0415,
    1.0382,
    1.035,
    1.032,
    1.0292,
    1.0265,
    1.0239,
    1.0215,
    1.0193,
    1.0172,
    1.0152,
    1.0134,
    1.0117,
    1.0101,
    1.0086,
    1.0073,
    1.0061,
    1.005,
    1.004,
    1.0032,
    1.0024,
    1.0018,
    1.0012,
    1.0008,
    1.0004,
    1.0002,
    1,
    1
  );
  --yellow-100: oklch(0.98 0.12 109.96 / 1);
  --green-100: oklch(0.95 0.05 159.4 / 1);
  --green-200: oklch(0.9 0.09 160.24 / 1);
  --green-300: oklch(0.84 0.13 160.17 / 1);
  --green-400: oklch(0.75 0.15 157.97 / 1);
  --green-500: oklch(0.68 0.14 157.04 / 1);
  --green-600: oklch(0.57 0.13 160.83 / 1);
  --purple-100: oklch(0.94 0.04 306.41 / 1);
  --purple-200: oklch(0.91 0.05 306.68 / 1);
  --purple-300: oklch(0.81 0.12 305.96 / 1);
  --purple-400: oklch(0.67 0.22 304.55 / 1);
  --purple-500: oklch(0.62 0.26 306.79 / 1);
  --pink-100: oklch(0.94 0.03 338.59 / 1);
  --blue-100: oklch(0.94 0.03 246.35 / 1);
  --blue-200: oklch(0.89 0.06 242.83 / 1);
  --blue-300: oklch(0.81 0.11 242.11 / 1);
  --blue-400: oklch(0.72 0.15 246.5 / 1);
  --blue-500: oklch(0.66 0.14 243.22 / 1);
  --pink-200: oklch(0.88 0.06 341.07 / 1);
  --pink-300: oklch(0.79 0.14 344.1 / 1);
  --pink-400: oklch(0.76 0.18 346.6 / 1);
  --yellow-200: oklch(0.94 0.13 105.5 / 1);
  --yellow-300: oklch(0.9 0.17 101.48 / 1);
  --red-100: oklch(0.93 0.03 20.25 / 1);
  --red-200: oklch(0.87 0.07 15.14 / 1);
  --red-300: oklch(0.78 0.1 21.88 / 1);
  --red-400: oklch(0.68 0.17 24.78 / 1);
  --red-500: oklch(0.61 0.21 17.36 / 1);
  --red-600: oklch(0.58 0.23 15.35 / 1);
  --red-700: oklch(0.47 0.18 19.12 / 1);
  --yellow-400: oklch(0.84 0.17 93.44 / 1);
  --red-800: oklch(0.41 0.15 25.18 / 1);
  --yellow-200-2: oklch(0.94 0.13 105.5 / 1);
  --yellow-500: oklch(0.78 0.16 86.9 / 1);
  --red-900: oklch(0.37 0.11 26.97 / 1);
  --red-950: oklch(0.24 0.06 27.18 / 1);
  --yellow-600: oklch(0.65 0.14 77.02 / 1);
  --yellow-700: oklch(0.52 0.11 68.53 / 1);
  --yellow-800: oklch(0.44 0.09 64.83 / 1);
  --yellow-900: oklch(0.39 0.08 61.27 / 1);
  --yellow-950: oklch(0.27 0.05 57.03 / 1);
  --lime-100: oklch(0.97 0.07 123.26 / 1);
  --lime-200: oklch(0.92 0.15 120.9 / 1);
  --lime-300: oklch(0.9 0.2 127.37 / 1);
  --lime-400: oklch(0.92 0.23 125.68 / 1);
  --lime-500: oklch(0.85 0.21 121.95 / 1);
  --lime-600: oklch(0.76 0.2 129.32 / 1);
  --pink-500: oklch(0.62 0.2 1.49 / 1);
  --lime-700: oklch(0.62 0.16 127.72 / 1);
  --lime-800: oklch(0.53 0.12 123.25 / 1);
  --lime-900: oklch(0.45 0.1 125.53 / 1);
  --lime-950: oklch(0.38 0.08 127.54 / 1);
  --green-700: oklch(0.48 0.09 161.12 / 1);
  --green-800: oklch(0.4 0.07 162.5 / 1);
  --green-900: oklch(0.33 0.07 164.84 / 1);
  --green-950: oklch(0.25 0.03 169.5 / 1);
  --blue-600: oklch(0.55 0.15 255.38 / 1);
  --blue-700: oklch(0.48 0.13 248.74 / 1);
  --blue-800: oklch(0.41 0.1 253.65 / 1);
  --blue-900: oklch(0.36 0.08 254.06 / 1);
  --blue-950: oklch(0.27 0.05 256.86 / 1);
  --pink-600: oklch(0.57 0.21 1.52 / 1);
  --pink-700: oklch(0.49 0.18 5.77 / 1);
  --pink-800: oklch(0.43 0.15 5.2 / 1);
  --pink-900: oklch(0.38 0.12 2.93 / 1);
  --pink-950: oklch(0.26 0.08 2.86 / 1);
  --purple-600: oklch(0.54 0.29 297.24 / 1);
  --purple-700: oklch(0.52 0.28 298.15 / 1);
  --purple-800: oklch(0.48 0.27 289.65 / 1);
  --purple-900: oklch(0.39 0.21 297.78 / 1);
  --purple-950: oklch(0.49 0.1581 301.08 / 1);
  --stone-100: oklch(0.96 0 0 / 1);
  --stone-200: oklch(0.91 0 48.72 / 1);
  --stone-300: oklch(0.85 0 56.36 / 1);
  --stone-400: oklch(0.68 0.01 67.67 / 1);
  --stone-500: oklch(0.51 0.01 67.56 / 1);
  --stone-600: oklch(0.41 0.01 80.69 / 1);
  --stone-700: oklch(0.34 0.01 75.29 / 1);
  --stone-800: oklch(0.25 0 39.39 / 1);
  --stone-900: oklch(0.21 0 48.54 / 1);
  --stone-950: oklch(0.16 0 17.33 / 1);
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: var(--font-fig-sans);
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-fig-sans);
  background-color: var(--lime-200);
  color: var(--stone-950);
}

button {
  cursor: pointer;
}

.button_large {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 999999px;
  transition: all 0.25s var(--ease-default-linear);
  white-space: nowrap;
}
.button_lime {
  background-color: var(--lime-200);
  color: var(--stone-950);
  font-size: 0.875rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  line-height: normal;
  &:hover {
    background-color: var(--lime-400);
    transform: scale(1.05);
    box-shadow: var(--shadow);
  }
  &:active {
    background-color: var(--lime-200);
    transform: scale(0.75);
    box-shadow: none;
  }
}

.button_black {
  background-color: var(--stone-800);
  color: var(--stone-100);
  font-size: 0.875rem;
  letter-spacing: -0.01em;
  font-weight: 400;
  line-height: normal;
  &:hover {
    background-color: var(--stone-950);
    box-shadow: var(--shadow);
  }
  &:active {
    background-color: var(--stone-900);
    box-shadow: none;
  }
}

/* i really donot think we can ever have 2 color modes for this one but maybe with dark: in the future */
/* @media (prefers--scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* also if we want to enable tailwind (.modeule) doesnot work with this :(  */
/* @theme inline {
  --color-yellow-100: oklch(0.98 0.12 109.96 / 1);
  --color-green-100: oklch(0.95 0.05 159.4 / 1);
  --color-green-200: oklch(0.9 0.09 160.24 / 1);
  --color-green-300: oklch(0.84 0.13 160.17 / 1);
  --color-green-400: oklch(0.75 0.15 157.97 / 1);
  --color-green-500: oklch(0.68 0.14 157.04 / 1);
  --color-green-600: oklch(0.57 0.13 160.83 / 1);
  --color-purple-100: oklch(0.94 0.04 306.41 / 1);
  --color-purple-200: oklch(0.91 0.05 306.68 / 1);
  --color-purple-300: oklch(0.81 0.12 305.96 / 1);
  --color-purple-400: oklch(0.67 0.22 304.55 / 1);
  --color-purple-500: oklch(0.62 0.26 306.79 / 1);
  --color-pink-100: oklch(0.94 0.03 338.59 / 1);
  --color-blue-100: oklch(0.94 0.03 246.35 / 1);
  --color-blue-200: oklch(0.89 0.06 242.83 / 1);
  --color-blue-300: oklch(0.81 0.11 242.11 / 1);
  --color-blue-400: oklch(0.72 0.15 246.5 / 1);
  --color-blue-500: oklch(0.66 0.14 243.22 / 1);
  --color-pink-200: oklch(0.88 0.06 341.07 / 1);
  --color-pink-300: oklch(0.79 0.14 344.1 / 1);
  --color-pink-400: oklch(0.76 0.18 346.6 / 1);
  --color-yellow-200: oklch(0.94 0.13 105.5 / 1);
  --color-yellow-300: oklch(0.9 0.17 101.48 / 1);
  --color-red-100: oklch(0.93 0.03 20.25 / 1);
  --color-red-200: oklch(0.87 0.07 15.14 / 1);
  --color-red-300: oklch(0.78 0.1 21.88 / 1);
  --color-red-400: oklch(0.68 0.17 24.78 / 1);
  --color-red-500: oklch(0.61 0.21 17.36 / 1);
  --color-red-600: oklch(0.58 0.23 15.35 / 1);
  --color-red-700: oklch(0.47 0.18 19.12 / 1);
  --color-yellow-400: oklch(0.84 0.17 93.44 / 1);
  --color-red-800: oklch(0.41 0.15 25.18 / 1);
  --color-yellow-200-2: oklch(0.94 0.13 105.5 / 1);
  --color-yellow-500: oklch(0.78 0.16 86.9 / 1);
  --color-red-900: oklch(0.37 0.11 26.97 / 1);
  --color-red-950: oklch(0.24 0.06 27.18 / 1);
  --color-yellow-600: oklch(0.65 0.14 77.02 / 1);
  --color-yellow-700: oklch(0.52 0.11 68.53 / 1);
  --color-yellow-800: oklch(0.44 0.09 64.83 / 1);
  --color-yellow-900: oklch(0.39 0.08 61.27 / 1);
  --color-yellow-950: oklch(0.27 0.05 57.03 / 1);
  --color-lime-100: oklch(0.97 0.07 123.26 / 1);
  --color-lime-200: oklch(0.92 0.15 120.9 / 1);
  --color-lime-300: oklch(0.9 0.2 127.37 / 1);
  --color-lime-400: oklch(0.92 0.23 125.68 / 1);
  --color-lime-500: oklch(0.85 0.21 121.95 / 1);
  --color-lime-600: oklch(0.76 0.2 129.32 / 1);
  --color-pink-500: oklch(0.62 0.2 1.49 / 1);
  --color-lime-700: oklch(0.62 0.16 127.72 / 1);
  --color-lime-800: oklch(0.53 0.12 123.25 / 1);
  --color-lime-900: oklch(0.45 0.1 125.53 / 1);
  --color-lime-950: oklch(0.38 0.08 127.54 / 1);
  --color-green-700: oklch(0.48 0.09 161.12 / 1);
  --color-green-800: oklch(0.4 0.07 162.5 / 1);
  --color-green-900: oklch(0.33 0.07 164.84 / 1);
  --color-green-950: oklch(0.25 0.03 169.5 / 1);
  --color-blue-600: oklch(0.55 0.15 255.38 / 1);
  --color-blue-700: oklch(0.48 0.13 248.74 / 1);
  --color-blue-800: oklch(0.41 0.1 253.65 / 1);
  --color-blue-900: oklch(0.36 0.08 254.06 / 1);
  --color-blue-950: oklch(0.27 0.05 256.86 / 1);
  --color-pink-600: oklch(0.57 0.21 1.52 / 1);
  --color-pink-700: oklch(0.49 0.18 5.77 / 1);
  --color-pink-800: oklch(0.43 0.15 5.2 / 1);
  --color-pink-900: oklch(0.38 0.12 2.93 / 1);
  --color-pink-950: oklch(0.26 0.08 2.86 / 1);
  --color-purple-600: oklch(0.54 0.29 297.24 / 1);
  --color-purple-700: oklch(0.52 0.28 298.15 / 1);
  --color-purple-800: oklch(0.48 0.27 289.65 / 1);
  --color-purple-900: oklch(0.39 0.21 297.78 / 1);
  --color-purple-950: oklch(0.26 0.14 302.26 / 1);
  --color-stone-100: oklch(0.96 0 0 / 1);
  --color-stone-200: oklch(0.91 0 48.72 / 1);
  --color-stone-300: oklch(0.85 0 56.36 / 1);
  --color-stone-400: oklch(0.68 0.01 67.67 / 1);
  --color-stone-500: oklch(0.51 0.01 67.56 / 1);
  --color-stone-600: oklch(0.41 0.01 80.69 / 1);
  --color-stone-700: oklch(0.34 0.01 75.29 / 1);
  --color-stone-800: oklch(0.25 0 39.39 / 1);
  --color-stone-900: oklch(0.21 0 48.54 / 1);
  --color-stone-950: oklch(0.16 0 17.33 / 1);
} */
