.login_signup_background {
  background-image: url(/loginBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.auth_card_container {
  position: relative;
  z-index: 10;
  display: inline-flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  max-width: 450px;
  width: 100%;
  background: var(--purple-950);
}
.auth_card {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 18px;
  border: 2px dashed var(--lime-200);
}
.top_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 4px;
  div {
    height: 50px;
    aspect-ratio: 1/1;
  }
  span {
    color: var(--stone-100);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.middle_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 320px;
}

.flow_switch_container {
  width: 100%;
  max-width: 312px;
  padding: 0px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  button {
    background-color: var(--stone-100);
    padding: 4px 4px 12px 4px;
    width: 70px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s var(--ease-default-linear);
  }
}

.flow_switch_button {
  width: 70px;
  transition: all 0.4s var(--ease-default-linear);
  &:hover {
    transform: rotate(-3deg) scale(1.1);
  }
  &:active {
    transform: rotate(-1deg) scale(1);
  }
}

.inactive {
  background: linear-gradient(
    0deg,
    var(--stone-400) 0%,
    var(--stone-300) 15%,
    var(--stone-100) 40%
  );
  color: var(--stone-400);
}

.bottom_bar {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .login_signup_background {
    padding: 0px;
    background: var(--purple-950);
  }
  .auth_card_container {
    display: inline-flex;
    padding: 12px;
  }
  .auth_card {
    padding: 12px;
  }
}
