.dashboard {
  
  width: 100%;
  overflow-x: hidden;
  height: 100dvh;
}

.dashboard_panel_container {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1800px;

  display: flex;
  gap: 20px;
}

.dashboard_side_panel {
  width: 100%;
  height: 100%;
  min-height: 850px;
  max-width: 400px;
  padding: 12px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: var(--shadow);
    background-image: url(/side_pattern_default.png);
    background-size: 300px;
    background-position: center;
    background-color: var(--purple-950);
    z-index: -1;
  }
}

.booklet_tab_container {
  width: 95%;
  max-width: 320px;
  margin-bottom: 380px;
}

.wallet_tab_container {
  bottom: 12px;
  position: absolute;
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 1024px) {
  .booklet_tab_container {
    width: 95%;
    max-width: 400px;
  }
  .wallet_tab_container {
    width: 98%;
    max-width: 400px;
  }

  .dashboard_panel_container {
    width: 100%;
    height: 100%;
    gap: 0;
    display: block;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: var(--lime-200);
      z-index: -1;
    }
  }

  .dashboard_side_panel {
    display: none;
  }
  .dashboard_main_panel {
    width: 100%;
    height: 100%;
  }
}
